* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color: white;
}

html {
  scroll-behavior: smooth;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:rgb(7, 7, 74);
    color: #fff;
    padding: 10px 40px;
    position: sticky;
    top: 0;
    z-index: 100;
}

.logo{
  font-size: 1.5em;
  font-weight: bold;
  letter-spacing: 1px;
  font-family: Arial, Helvetica, sans-serif;
}

.nav-links{
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a{
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3 ease, 
    border-bottom 0.3s ease;
}

.din {
    width: 100%;
    height: 750px;
    background-image: url(image/restorani1.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    margin-bottom: 2%;
}

.din h1{
    text-align: center;
    color: white;
    font-size: 5em;
    position: relative;
    top: 300px;
    text-shadow: 0 0 7px rgb(4, 4, 51);
}

.go{
    color: rgb(8, 8, 80);
}

.nav-links a:hover{
    color: white;
    border-bottom: 2px solid white;
    padding-bottom: 2px;
}

.menu-toggle{
    display: none;
}

.menu-icon{
    display: none;
    cursor: pointer;
    font-size: 28px;
}


.menu{
    background-color: #f8f9da;
    padding: 80px 20px;
    text-align: center;
}

.menu h2{
    padding: 40px;
    font-size: 5em;
    margin-bottom: 10px;
    color:rgb(7, 7, 74);
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}

.about h1{
    font-size: 4.2em;
    color: rgb(7, 7, 74);
    text-align: center;
    margin-bottom: 20px;
}

.about p {
    width: 80%;
    height: auto;
    text-align: center;
    margin: 0 auto;
    font-size:1.3em;
    border: 2px solid white;
    padding: 60px  60px;
    border-radius: 100px;
    background-color:rgb(7, 7, 74);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 5%;
}

.project-contanier{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.project-card{
  background: #fff;
  border-radius: 50px;
  overflow: hidden;
  width: 400px;
  cursor: pointer;
  margin: 15px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border: 1px solid rgb(7, 7, 74);

}

.project-card:hover{
    transform: translateY(-8px);
    box-shadow: 0 8px 18px white;
}

.project-card img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 50px 50px 0 0 ;
}

.project-card h3{
    padding: 5px;
    font-size: 1.3em;
    color:rgb(7, 7, 74);
    background: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

.price{
 font-size:23px ;
 color: orange;

}

.project-card p{
   font-family: Arial, Helvetica, sans-serif;
   font-size: 14px;
}

.contact{
    background-color: #fff;
    padding: 80px 20px;
    text-align: center;
}

.contact h2{
    font-size: 3.5em;
    color:rgb(11, 11, 86);
    margin-bottom: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}



.contact-form{
    max-width: 600px;
    margin: 0 auto;
    padding: 80px 50px;
    background-color: rgb(11, 11, 86);
    border-radius: 50px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    color: white;
}


.input-group{
    margin-bottom: 20px;
    text-align: left;
}

.input-group label{
    display: block;
    font-weight: 600;
    margin-bottom: 7px;
}

.input-group input,
.input-group textarea{
    width: 100%;
    padding:  12px 15px;
    border: 2px solid #ccc;
    border-radius: 30px;
    font-size: 1em;
    font-family: inherit;
    transition: border 0.3s ease;
}

.input-group input:focus,
.input-group textarea:focus{
    border-color: orange;
    outline: none;
}

.input-group textarea{
    height: 140px;
    resize: none;
}

.contact-btn{
    background-color: orange;
    color: white;
    padding: 15px 30px;
    border: 2px solid white;
    border-radius: 50px;
}

.contact-btn:hover{
    background-color: white;
    color: orange;
    cursor: pointer;
    transition: all 0.7s ease;
}

span{
  color: red;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1.4em;
}

.div-vi {
    width: 100%;
    height: 3px;
    background: rgb(0, 0, 0);
    margin: 5px 0;
    opacity: 0.7;
    margin-top: 10px;
}

@media(max-width: 767px){

.menu-icon{
    display: block;
}

.nav-links{
   position: absolute;
   top: 60px;
   left: 0;
   width: 100%;
   background:rgb(7, 7, 74);
   flex-direction: column;
   align-items: center;
   gap: 20px;
   padding: 20, 0;
   display: none;

}

.menu-toggle:checked + .menu-icon + .nav-links{
    display: flex;
    animation: slideDown 0.3s ease;
}

@keyframes slideDown {
    from {opacity: 0; transform: translateY(-10px);}
    to {opacity: 1; transform: translateY(0);}
    
}

}